.title-block {
    margin-top: 1rem;
    margin-left : 5rem;
    margin-right : 5rem;
}

.title-block__title {
    font-size: var(--font-size-h3);
}

.main {
    margin-left : 5rem;
    margin-right : 5rem;
}
